.main {
    display: flex;
    margin: 64px;
    padding: 64px;
    align-items: center;
    background-color:#0b0644f8;

}

.main_text {
    margin-right: 6em;
}

.main h1 {
    text-align: center;
    font-size: 42px;
    color: #ffffff;
}

.main P {
    padding-left: 64px;
    font-size: 32px;
    color: #ffffff;
}

.main_text-a {
    display: none;
}

.main_sectionTwo {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.main_link {
    text-align: center;
}

.main a {
    background-color: #0750fa;
    color: #ffffff;
    padding: 16px;
    border-radius: 6px;
    font-size: 1.5em;
    text-decoration: none;
}

@media (max-width:576px) {
    .main {
        flex-direction: column-reverse;
    }
    
    .main img {
        width: 100%;
    }

    .main_link-a {
        display: none;
    }

    .main_text-container-a {
        margin-right: 50%;
    }

    .main_text-a {
        display: block;
        margin-left: 10%;
        width: 34vw;
        text-align: center;
        font-weight: 700;
    }

    .main_text{
       width: 25vw;
    }

    .main h1 {
        font-weight: 700;
        font-size: 2.5em;
    }

    .main_text-container {
        width: 35vw;
    }

    .main p {
        font-size: 1.5em;
        border-radius: 1em;
        border:solid 4px  rgb(227, 209, 209);
        background-color: rgb(50, 50, 50);
        padding: 10%;
        width: 100%;
        font-weight: 700;
    }
}

@media (min-width:577px) and ( max-width:1024px) {
    .main {
        padding: 1em;
    }

    .main_text {
        width: 40% ;
        margin-right: 4em;

    }

    .main h1 {
        font-size: 2.5em;
        margin-left: 1em;
    }

    .main p {
        font-size:x-large ;
       
    }
 
    .main_sectionTwo {
    width: 50%;
    gap:2.5em;
}       
 }   
    













