.footer{
    background-color:#1b1935;
    height: 23vh;
}

.footer__Container {
    display: flex;
    justify-content: space-between;
}

.arrow{
    height: 15vh;
    margin-left: 5%;
    margin-top: 1%;
}

.footer__Container ul {
    display: flex;
    margin-right: 5%;
    gap: 15%;
    margin-top: 3%;
}

.footer__Container ul li {
    list-style-type: none;
}

.footer__Container ul li a img {
    width: 5vh;
    list-style-type: none;
}

.footer p {
    text-align: center;
    color: #ffff;
}


@media  (max-width: 576px){
    .arrow{
        display: none;
    }

        .footer__Container ul  {
        gap: 6em;
        margin-bottom: 14%;
        margin-top: 10%;
        margin-left: 4%;
        justify-content: center;
        width: 75vw;
        }

        .footer{
            height: 27.5vh;
        }
}

@media (min-width:577px) and (max-width:1024px) {
    .footer{
        height: 60vh;
    }

    .arrow {
        height: 10vh;
        margin-top: 5%;
    }

    .footer__Container ul {
        margin-top: 10%;
        margin-right:10% ;
    }

    .footer p {
        margin-top:14% ;
    }

    
}